<table class="pretty" table id="table1"><tr>
	<th>Sort: </th>
  <th><%= sortable "title", "Title"%></th> 
  <th><%= sortable "updated_at", "Recent"%></th> 
  <th><%= sortable "upvotes", "Popularity"%></th> 
 </tr>
</table>