<h1> Tags Index Page </h1>
<br>

<p><%= link_to "Add a tag", new_tag_path, :class => "btn btn-s btn-primary" %></p>
<br>

<% @tags.each do |tag| %>
	<%= link_to tag.name, tag_path(tag.id) %><br>
<% end %>