<h1>TAGS SHOW PAGE</h1>
<h2>We will remove for single-page index and show</h2>

<%= @name %><br>
 <!-- This breaks when user inputs a url without http://www....need validations/templates  -->

<%= link_to "edit", edit_tag_path(@tag)%> <%= link_to "delete", tag_path(@tag), method: :delete %>

<%= link_to "Back", links_path %>
Links gO hErE wooo

