/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.css
 */

 #displayText {
 	display: block;
 	margin-left: 7px;
 }
 #new_link {
 	display: none;
 	margin-left: 7px;
 }
 #find_link {
 	display: none;
 	margin-left: 7px;
 }
 #findlink {
 	display: block;
 	margin-left: 7px;
 }

  body { 
  padding-top: 70px;  
  background: #EEE8D5; 
  font-size: $body-font-size;

}
  #header-container {

		  position: relative;  
		  margin: 0 auto;
		  width: 90%;
		  max-width: 940px;
  }
 .logo {
	  font-size: 1.5em;
	  font-weight: 900;
	  background: black;
	  padding: 5px;
	  margin-top: 10px;
	  margin-left: 10px;
	  border-radius: 10px 0;
	  color: white;
	  float: left;
}
.panel {
	margin-left: 7px;
	margin-right: 7px;
	border-radius: 10px 10px;
	background-color: url(http://www.drmccabe.ca/userContent/images/links%20jpeg.jpg);

}
.form-control {
  border-radius: 0px;
  padding-top: 20px;
  padding-bottom:20px;
}
#home {
	margin-left: 10px;
}


