/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.css
 */

 #displayText {
 	display: block;
 }
 #new_link {
 	display: none;
 }
  body { 
  padding: 3em 5em; 
  background: #EEE8D5; 
  font-size: $body-font-size; 
}
  #container {

		  position: relative;  
		  margin: 0 auto;
		  width: 90%;
		  max-width: 940px;
  }
 .logo {
	  font-size: 1.5em;
	  font-weight: 900;
	  background: red;
	  padding: 5px;
	  border-radius: 10px 0;
	  color: white;
	  float: left;
}


